.pending-faults {
	display: flex;
	position: relative; /* for overlay above other elements */
}
.pending-faults strong {
	padding-left: 2rem;
	white-space: pre;
}
.pending-faults a {
	color: #333;
	padding: 0 0.5rem;
}

.pending-positn {
	top: 28%;
	left: 11.9rem;
}
.resolved-positn {
	top: 28%;
	left: 17.5rem;
}
#dropdown-position {
	position: absolute; /* for overlay above other elements */
}
.dropdown-menu {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dropdown-menu li {
	margin-bottom: 10px;
	text-wrap: nowrap;
}

/* .dropdown-menu li a {
	text-decoration: none;
} */
.pending-positn a {
	color: #333;
}
.resolved-positn a {
	padding: 0 0.5rem;
	background-color: #D9D9DF;
	border-radius: 5px;
	color: green;
}

.resolved-positn a:hover {
	background-color: green;
	color: white;
}
.resolved-positn a:active {
	background-color: rgba(0, 128, 0, 0.247);
	color: rgba(255, 255, 255, 0.199);
}
/* 
.resolved-positn a {
	padding: 0 0.5rem;
	background-color: #D9D9DF;
	border-radius: 5px;
	color: green;
} */

