.pending-positn {
	top: 28%;
	left: 11.9rem;
}
.resolved-positn {
	top: 28%;
	left: 12.8rem;
}
#dropdown-position {
	position: absolute; /* for overlay above other elements */
}
.dropdown-menu {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dropdown-menu li {
	margin-bottom: 10px;
	text-wrap: nowrap;
}

/* .dropdown-menu li a {
	text-decoration: none;
} */
.pending-positn a {
	color: #333;
	text-decoration: none;
}
.resolved-positn a {
	padding: 0 0.5rem;
	background-color: #D9D9DF;
	/* background-color: rgba(255, 255, 0, 0.712); */
	border-radius: 5px;
	color: green;
}

.resolved-positn a:hover {
	background-color: green;
	color: white;
}
.resolved-positn a:active {
	background-color: rgba(0, 128, 0, 0.247);
	color: rgba(255, 255, 255, 0.199);
}

/* .pending-requests {
	padding: 0 0.5rem;
	background-color: #D9D9DF;
	border-radius: 5px;
	color: green;
} */

.req-h4-header {
	display: flex;
	justify-content: space-between;
}
.req-h4-header a {
	text-decoration: none;
	/* white-space: pre; */
	color: #2b2929;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}
.req-h4-header a:hover ,
.to_user a {
	box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.068);
}
.req-h4-header a:active,
.to_user a {
	box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.068);
}
.to_user a {
	/* text-decoration: none; */
	/* white-space: pre; */
	color: #2b2929;
	/* padding: 0.5rem 1rem; */
	border-radius: 10px;
}


/* .k {
	text-decoration;
} */