.pending-faults {
	display: flex;
	margin: 0;
}
.pending-faults p {
	white-space: pre;
	margin: 0;
}
/* .pending-faults a {
	white-space: pre;
	text-decoration: none;
	margin: 0;
} */
.pending-faults a,
.pending-faults p {
	color: #2b2929;
	text-decoration: none;
}
/* .fault-color {
	display: flex;
	background-color: rgba(255, 255, 0, 0.6);
	border-radius: 5px;
	border: 1px solid;
	padding: 0 0.5rem;
} */
/* .fault-color p {
	color: yellow;
} */

.dropdown-notificatn {
	/* Make this the parent container */
	position: relative;
	/* display: inline-block; */
}