.product-details-page {
	padding: 0 1.5rem;
	padding-bottom: 0.5rem;
}
.product-details-page .row-view {
	display: flex;
	gap: 3rem;
	/* grid-template-columns: 1fr 2fr; */
}
#atm-detail-display-for-img img {
	width: 150%;
}

.productDetailsTitle {
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
}
.productDetailsTitle .prev-next {
	display: flex;
    /* gap: 1rem; */
}
.productDetailsTitle .prev-next a {
	text-decoration: none;
	white-space: pre;
	color: #2b2929;
}
.prev-next h2:hover {
	box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.068);
}
.prev-next h2:active {
	box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.068);
}

.product-details-page h3 {
	margin-bottom: 0;
}
