@keyframes homeSlideIn {
	from {
	transform: translateY(-50px);
	}
	to {
	transform: translateY(0);
	}
}
/* @keyframes homeSlideIn {
	from {
	transform: translateY(50px);
	}
	to {
	transform: translateY(0);
	}
} */

/* @keyframes fadeIn {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
} */

.home-animation {
	animation: homeSlideIn 2s ease-in-out;
}