/* h1, h2, h3, p {
	color: #333;
} */


/* move to a separate module */
/* loading and error pages */
.error-and-loading {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 7rem;
}
