/* CSS Debugging style: highlight all elements with a red outline */
* {
  /* outline: 1px solid red; */
}

body {
  /* padding: 0 5rem; */
  background-color: rgba(155, 151, 151, 0.055);
}
/* background for all */
.background-color {
	background-color:  #E5E5E5;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding-bottom: 1rem;
}

.body-minus-header {
  padding: 0.5rem 3rem;
}

.sub-root {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

/* pushes footer below the last element */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* large value for larger viewport */
}
footer {
  margin-top: auto;

}
/* ........................................ */


.sub-root {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

main {
  padding-bottom: 5.5rem;
  /* background-color:  #E5E5E5; */
  /* z-index: -10; */
}

/* .main-background {
  background-color:  #E5E5E5;
  z-index: -50;
} */

/* .sub-root {
  display: flex;
}

.sub-root > SideBar {
  flex: 1;
  min-width: 200px;
}

.sub-root > main {
  flex: 7;
} */

/* .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrapper {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
} */

/* h1, h2, h3, h4, h5, h6, p, li,
span, input, select, textarea,
button, a {
  font-size: large;
} */

/* yellow-notification */
/* .yellow-notification {
	display: flex;
	background-color: rgba(255, 255, 0, 0.6);
	border-radius: 5px;
	border: 1px solid;
	padding: 0 0.5rem;
} */
/* ...................................................... */

/* custom button */
.custum-button {
	display: flex;
	justify-content: center;
	cursor: pointer;
	gap: 1rem;
}
.custum-button h5 {
	text-decoration: none;
	white-space: pre;
	color: #2b2929;
	padding: 0.1rem 0.5rem;
	border: 0.01px solid;
	border-radius: 5px;
	margin: 1rem 0;
}
.custum-button h5:hover {
	box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.068);
  background-color: #8a8a935d;
}
.custum-button h5:active {
	box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.068);
  background-color: #8a8a93;
}
.custum-button h5.disabled {
  /* box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.068); */
  background-color: #E5E5E5;
  cursor: not-allowed;
  opacity: 0.5;
  color: #1809097a;
}

/* for smooth transitioning of the fault requests and requests only lists in human-resource component */
/* Container that will hold the list content */
.content-container {
  transition: opacity 1.5s ease-in-out;
  opacity: 1;
}

/* Fade-out effect */
.fade-out {
  opacity: 0;
  pointer-events: none; /* Prevent interactions during transition */
}

/* Fade-in effect */
.fade-in {
  opacity: 1;
}

/* .......................................................... */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.8s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .testxyz {
  background-repeat: ;
} */

/* .one {
  color:  #8ba3bd;
}
.two {
  color: #d9cdbf;
}
.three {
  color: #c38d9e;
}
.four {
  color: #4a6079;
} */
/* 8ba3bd d9cdbf c38d9e 4a6079 */
/* .d {
  color: rgb(0, 0, 255);
} */

.error-outline * {
  outline: 1px solid red;
}