.footer {
	padding: 2rem 0;
	background-color: #D9D9DF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}
.footer img {
	width: 12rem;
	height: 4rem;
	/* padding-top: 1.5rem; */
}
.footer p {
	margin-bottom: 0;
	margin-top: 0.1rem;
}
