/* Success.css */

/* body { */
	/* margin: 0; */
	/* font-family: 'Arial', sans-serif; */
	/* background-color: #f3f4f6; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* height: 100vh; */
/* } */
.success-body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8rem;
	/* color: #333; */
}
.success-container {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	/* text-align: center; */
	padding: 1rem 8rem;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	animation: fadeInSuccess 1.7s ease-in-out;
}

.success-body h1 {
	font-size: 2.5rem;
	color: rgba(0, 0, 0, 0.575);
	margin-bottom: 20px;
	animation: slideInSucces 0.5s ease-out;
}

@keyframes fadeInSuccess {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}

@keyframes slideInSucces {
	from {
	transform: translateY(-50px);
	}
	to {
	transform: translateY(0);
	}
}
